body {
    font-family: sans-serif;
    text-align: center;
    max-width: 2500px;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-image: url(https://img.gta5-mods.com/q95/images/gta-v-custom-vice-city-intro-replaces-original-rockstar-logo-intro/0cb71c-Custom%20Intro.jpg)
}

header {
    font-size: 50px;
    width: 100%;
    grid-area: header;
}

table {
    background-color: goldenrod;
    border-collapse: collapse;
    width: 100%;
    padding: 5px;
}

td, th {
    border: 2px solid black;
    padding: 1px;
}

span {
    display: inline-block;
}

footer {
    font-size: 30px;
    font-weight: bold;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    grid-area: footer;
}

#info_active_flights {
    background-color: pink;
}

#logo_firmy {
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 50px;
}

#flight_reservation {
    font-size: 20px;
    font-weight: bold;
}

.flight_town_description {
    width: 80%;
    margin: auto;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}

.passengers_table li {
    background-color: darkcyan;
    width: 40%;
    margin: auto;
}

.passenger:nth-child(odd) {
    background-color: rgb(11, 68, 19);
}

.popup{
    background-color: tomato;
    position: absolute;
    left: 70%;
    top: 134%;

    display: none;
}

.passenger:hover .popup{
    display: initial;
}

.flight_information {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 30px;
}

.information_title, .information {
    background-color: darkcyan;
    margin: 5px;
}

#flight_changes{
    grid-area: flight_changes;
}

#page_menu{
    grid-area: page_menu;
}

#flight_table {
    grid-area: flight_table;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
}

#hide_square {
    font-size: 20px;
    background-color: pink;
    opacity: 95%;
    position: fixed;
    top: 35%;
    left: 15%;
    width: 20%;
    height: 20%;
    justify-content: center;
    align-items: center;
}

.grid_container {
    display: grid;
    grid-column-gap: 15px;
    /* grid-row-gap: 15px; */

    grid-template-columns: 200px 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "header header header"
      "page_menu flight_table flight_changes"
      "footer footer footer";
}

.small_delay {
    background-color: rgb(231, 229, 96);
}

.large_delay {
    background-color: rgb(236, 163, 68);
}

.cancelled {
    background-color: rgba(236, 32, 53, 0.51);
}

.menu_list {
    background-color: goldenrod;
    margin: 0px;
    list-style: none;
    padding-left: 20px;
    text-align: left;
    font-size: 20px;
    font-family: monospace;
    text-transform: uppercase;
}

.town {
    background-color: tomato;
    width: 33%;
    height: 33%;
    margin: auto;
}

.picture, .town_picture {
    width: 50%;
    height: 50%;
}

.weather, .town_description, .town_name {
    font-size: 30px;
}

.information_header, h1 {
    background-color: darkcyan;
    width: 50%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

.return_button {
    width: 100%;
    font-size: 25px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 767px) {
    body {
        font-family: sans-serif;
        text-align: center;
        background-attachment: scroll;
        background-size: auto;
        background-image: url(https://img.gta5-mods.com/q95/images/gta-v-custom-vice-city-intro-replaces-original-rockstar-logo-intro/0cb71c-Custom%20Intro.jpg)
    }

    .grid_container {
        display: grid;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
          "header"
          "page_menu"
          "flight_table"
          "flight_changes"
          "footer";
    }

    .information_header {
        width: auto;
    }

    .town {
        width: auto;
        height: auto;
    }

    .town_picture {
        display: none;
    }

    .weather {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    body {
        font-family: sans-serif;
        text-align: center;
        background-attachment: scroll;
        background-size: auto;
        background-image: url(https://img.gta5-mods.com/q95/images/gta-v-custom-vice-city-intro-replaces-original-rockstar-logo-intro/0cb71c-Custom%20Intro.jpg)
    }

    .grid_container {
        display: grid;
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
          "header header"
          "page_menu page_menu"
          "flight_table flight_changes"
          "footer footer";
    }

    .menu_list{
        margin-left: 20%;
        margin-right: 20%;
    }

    td, th {
        border: 1px solid black;
        padding: 5px;
    }

    .information_header {
        width: auto;
    }

    .town {
        width: auto;
        height: auto;
    }
}


